body {
  margin: auto;
  max-width: 1024px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: black;
  background-color: lightgray;
  background-image: url("files/background_img.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  margin: auto;
  padding: 0 16px;
}

a { 
  text-decoration: none; 
  color: #f2f2f2;
} 

a:hover {
  color: black;  
 }

.hero-image {
  margin: auto;
}

.hero-image .container {
  text-align: center;
}

.heading {
  margin: auto;
  font-size: 40px;
  line-height: 86px;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;

}

.user-image img {
  width: 280;
  background: -webkit-linear-gradient( gray 0%, lightgray 100%);
  padding: 3px;
  margin: auto;
  text-align: center;
  border-image-outset: 2px;
  border-radius: 50%;
}

.intro h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.code_examples p {
  background-color: #3a353a;
}

.contacts {
  text-align: center;
  margin: 0;
}


.icons {
  
  background-repeat: no-repeat;
  background-size: 50px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}








